In [1]:
import pandas as pd
import numpy as np

In [2]:
# 성별, 국적, 몸무게의 정보를 가진 배열 생성
data = {
    'gender' : ['male', 'female', 'male'],
    'weight' : [72, 55, 68],
    'nation' : ['Japan', 'Korea', 'Australia']
}

In [6]:
df = pd.DataFrame(data)
df

   gender  weight     nation
0    male      72      Japan
1  female      55      Korea
2    male      68  Australia

In [4]:
# get_dummies()를 적용한 결과다.
# 원래 숫자의 값을 가졌던 몸무게는 변화가 없고 성별과 국적만 0과 1로 변경된 것을 확인할 수 있다.
pd.get_dummies(df)

,weight,gender_female,gender_male,nation_Australia,nation_Japan,nation_Korea
0,72,0,1,0,1,0
1,55,1,0,0,0,1
2,68,0,1,1,0,0